<div class="profile-card" id="profile-card">
    <!-- AVATAR -->
    <div class="row justify-content-center">
        <img src="../../../assets/img/profile/profile.jfif" class="profile-avatar">
    </div>
    <!-- AVATAR -->
    <!-- HEADER -->
    <div class="row mt-md-n5 px-3">
        <div class="profile-header d-flex flex-column">
            <div class="header-info align-self-center">546 K</div>
            <div class="">Seguidores</div>
        </div>
        <div class="profile-header d-flex flex-column">
            <div class="header-info align-self-center">212</div>
            <div class="">Podcasts</div>
        </div>
        <div class="ml-auto d-flex">
            <button type="button" class="follow-button btn align-self-center px-3">Seguir</button>
        </div>
    </div>
    <!-- HEADER -->
    <!-- ABOUT -->
    <div class="col d-flex flex-column align-items-center mt-4 mb-3">
        <div class="profile-name">Andrés Peña</div>
        <div class="profile-info my-1">Pasto, Nariño</div>
        <div class="profile-info my-1">Desarrollador Web</div>
        <div class="profile-info my-1">BICTIA</div>
    </div>
    <!-- ABOUT -->
    <!-- DESCRIPTION -->
    <div class="dropdown-divider"></div>
    <div class="profile-about mt-2 mx-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia
        deserunt mollit anim id est laborum</div>
    <div class="dropdown-divider"></div>
    <!-- DESCRIPTION -->
    <div class="col-lg-10 offset-lg-1 my-4">
        <app-podcast-card></app-podcast-card>
        <app-post></app-post>
        <!-- <app-post></app-post>
        <app-post></app-post> -->
    </div>
</div>
<!-- PROFILE CARD -->
