<div class="container">
    <div class="row mt-5">
        <div class="col-lg-9">
            <app-post></app-post>
            <app-podcast-card></app-podcast-card>
            <app-podcast-card></app-podcast-card>
            <app-post></app-post>
        </div>
        <div class="col-lg-3">
            <app-tags></app-tags>
            <app-tag-button></app-tag-button>
            <app-tag-button></app-tag-button>
            <app-tag-button></app-tag-button>
            <app-tag-button></app-tag-button>
        </div>
    </div>
</div>